<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Vehículos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
    </div>    


    <div class="container-fluid mt-4 d-flex justify-content-center align-items-center">
        <h1>Catálogo de Vehículos</h1>
        <ln>

    </div>
    &nbsp
    <div class="container align-items-center">

        <p>Bienvenido al catálogo de vehículos. Aquí podrás encontrar una amplia selección de vehículos disponibles para su compra. Explora nuestra variedad de marcas, modelos y categorías.</p>
       
        <p>Si deseas agregar un nuevo vehículo al catálogo, puedes utilizar el formulario de ingreso de vehículos. Simplemente completa los campos requeridos y guarda la información.</p>
        <p>En la sección de listado de vehículos, podrás ver todos los vehículos agregados hasta el momento. La tabla te mostrará detalles como la marca, modelo, serial de carrocería, serial de motor, categoría y precio de cada vehículo.</p>
        <p>¡Disfruta navegando por nuestro catálogo de vehículos y encuentra el que se ajuste a tus necesidades!</p>
    </div>
    <div class="d-flex justify-content-center align-items-center vh-50">
        <button class="btn btn-primary" onclick="window.location.href = 'login';">Ir al Login</button>
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>